<!doctype html>
{% include 'parts/head.jinja.html' %}  
<body>
    
  <div class="container">
    {% include 'parts/body_header.jinja.html' %}   
  </div>

  <main class="container">
    <div class="row">
      <div class="col-md-8">


        <article class="blog-post">

          <h2 class="blog-post-title">{{title}}</h2>
          <p class="text-muted">{{publish_date | format_date}} by <a href="#">{{authors}}</a></p>
          {{ body }}

          {{ tags | format_tags }}
        </article>

      </div>

  </main>

  {% include 'parts/footer.jinja.html' %}  


    
  </body>
</html>
