<!doctype html>
<html lang="en">
  {% include 'parts/head.jinja.html' %}  
  <body>        
    <div class="container">
      {% include 'parts/body_header.jinja.html' %}  
    </div>

    <main class="container">

      <div class="row g-5">
        <div class="col-md-8">

          {% for a in page %}
            {% if a.meta.format == 'long' or a.meta.format == 'images' or a.meta.format == 'photo' %}
              <article class="blog-post">
                <h2 class="blog-post-title"><a href="/{{ a.meta.slug }}/">{{ a.meta.title }}</a></h2>
                <p class="blog-post-meta">{{ a.meta.publish_date | format_date }} by {{ a.meta.authors }}</p>
                <p>{{ a.meta.summary}} <a href="/{{ a.meta.slug }}/">Read more...</a></p>
                <p><a href="/{{ a.meta.slug }}/"><img style="max-height: 200px;" src="/{{ a.meta.slug }}/media/{{ a.meta.image }}"/></a></p>
              </article>
            {% elif a.meta.format == 'link' %}
              <article class="blog-post">
                <h2 class="blog-post-title"><a href="{{ a.meta.href }}" target="_blank">Link: {{ a.meta.title }}</a></h2>
                <p class="blog-post-meta">{{ a.meta.publish_date | format_date }} by {{ a.meta.authors }}</p>
                {% if a.meta.image %}
                  <p><a href="{{ a.meta.href }}" target="_blank"><img style="max-height: 200px;" src="/{{ a.meta.slug }}/media/{{ a.meta.image }}"/></a></p>
                {% endif %}                
              </article>
            {% elif a.meta.format == 'short' %}
              <article class="blog-post">
                <h2 class="blog-post-title">{{ a.meta.title }}</h2>
                <p class="blog-post-meta">{{ a.meta.publish_date | format_date }} by {{ a.meta.authors }}</p>
                {% if a.meta.image %}
                  <p><img style="max-height: 200px;" src="/{{ a.meta.slug }}/media/{{ a.meta.image }}"/></p>
                {% endif %}                
              </article>
            {% endif %}
          {% endfor %}

          <nav class="mb-3">
            <div class="nav-links row">
              {% if prev_page_link %}
                <div class="col text-start"><small><a class="text-muted text-decoration-none"  href="{{ prev_page_link }}">&larr;&nbsp; Previous</a></small></div>
              {% endif %}
              {% if next_page_link %}
                <div class="col text-end"><small><a class="text-muted text-decoration-none" href="{{ next_page_link }}">Next &nbsp;&rarr;</a></small></div>
              {% endif %}
            </div>
          </nav>

        </div>
        
      </div>

    </main>

    {% include 'parts/footer.jinja.html' %}  

      
  </body>
</html>
