<!doctype html>
<html lang="en">
  {% include 'parts/head.jinja.html' %}  
  <body>
        
    <div class="container">
        {% include 'parts/body_header.jinja.html' %}  
    </div>

    <main class="container">

      <div class="row g-5">
        <div class="col-md-8">

          {% for a in entries %}
            <article class="blog-post">

              <h2 class="blog-post-title">{{ a.meta.title }}</h2>
              <p class="blog-post-meta">{{ a.meta.publish_date | format_date }} by {{ a.meta.authors }}</p>
              <p>{{ a.meta.summary}} <a href="/{{ a.meta.slug }}/">Read more...</a></p>
      
            </article>
          {% endfor %}
        </div>        
      </div>
    </main>

    {% include 'parts/footer.jinja.html' %}  

      
  </body>
</html>
